*.user
Emulator/Src/.vs
Emulator/Src/BeebEm.aps
Emulator/Src/BeebEm.VC.db
Emulator/Src/BeebEm.VC.VC.opendb
Emulator/Src/BeebEm.user.props
Emulator/Src/Debug
Emulator/Src/Release
Emulator/Src/x64/Debug
Emulator/Src/x64/Release
Emulator/Src/BeebEm/x64/Debug
Emulator/Src/BeebEm/x64/Release
Emulator/Src/Hardware/Acorn1770/Debug
Emulator/Src/Hardware/Acorn1770/Release
Emulator/Src/Hardware/Acorn1770/x64/Debug
Emulator/Src/Hardware/Acorn1770/x64/Release
Emulator/Src/Hardware/OpusDDOS/Debug
Emulator/Src/Hardware/OpusDDOS/Release
Emulator/Src/Hardware/OpusDDOS/x64/Debug
Emulator/Src/Hardware/OpusDDOS/x64/Release
Emulator/Src/Hardware/Watford/Debug
Emulator/Src/Hardware/Watford/Release
Emulator/Src/Hardware/Watford/x64/Debug
Emulator/Src/Hardware/Watford/x64/Release
Emulator/Src/InnoSetup/Debug
Emulator/Src/InnoSetup/Release
Emulator/Src/InnoSetup/x64/Debug
Emulator/Src/InnoSetup/x64/Release
Emulator/Src/ZipFile/Debug
Emulator/Src/ZipFile/Release
Emulator/Src/ZipFile/x64/Debug
Emulator/Src/ZipFile/x64/Release